#hero{
    height: calc(50vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

}
.bg{
    position: absolute;
    top: 25rem;
    right: 30px;
    z-index: -1;
    object-fit: cover;
    height: 25vh;
}
.heroContent{
    /* height: 100vh; */
    /* width: 100vw; */
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello{
    font-size: clamp(1.5rem, 2.5vw, 3rem); /* Ajuste dynamiquement la taille du texte */
    font-weight: 100;
    margin-bottom: 0.5rem; /* Ajoute un espace sous le texte */
}

.introName{
    color: #7451eb;
}
.introPara{
    font-size: medium;
    font-weight: 300;
    letter-spacing: 1px;
}
.profilPic{
    width: 250px;
    align-self: center;
    margin: 0 auto;
}
.btn{
    background: #7451eb;
    margin: 1rem ;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    color: white;
    cursor: pointer;
    width: 9rem;
}

.btnImg{
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
    color: white;
}

.btnLink{
    text-decoration: none;
}

@media screen and (max-width:840px){
    .bg{
        right: -10vw;
    }
    .heroContent{
        font-size: 2rem;
        align-items: center;
    }
    .hello{
        font-size: 2.5rem;
    }
}

@media screen and (max-width:480px){
    .bg{
        right: -25vw;
    }
    #hero{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .heroContent {
        font-size: 1.5rem;
    }
    .hello {
        font-size: 2rem;
    }
    .profilPic {
        margin-top: 1rem;
    }
}